<!--
  Generated template for the SimilarEstatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>SimilarEstates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="region" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="region">
      Region
    </ion-segment-button>
  </ion-segment>

  <ion-card padding>
    <ion-item>
      <ion-label item-left>Filter By Type:</ion-label>
      <ion-select [(ngModel)]="selectedType">
        <ion-option *ngFor="let type of types">{{type}}</ion-option>
      </ion-select>
      <ion-toggle [(ngModel)]="filteringEnabled"></ion-toggle>
    </ion-item>
  </ion-card>

  <ng-container *ngFor="let region of filteredRegions">
    <ion-item-group *ngIf="shouldShowRegion(region)">
      <ion-item-divider color="secondary">
          <ion-label>{{region}}</ion-label>
      </ion-item-divider>

      <ng-container *ngFor="let estate of estatesByRegion[region]">
        <ion-item *ngIf="!filteringEnabled || estate.type === selectedType">
          <ion-thumbnail item-left>
              <img [src]="estate.image">
          </ion-thumbnail>
          <h2>Ref No. {{estate.refNumber}}</h2>
          <p text-wrap>{{estate.type}}, {{estate.bedrooms}} Bedrooms</p>
          <p padding-top text-wrap>{{location.name}}, {{estate.region}}</p>
          <a item-right (click)="toEstate(estate)">View</a>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ng-container>
</ion-content>
