<!--
  Generated template for the MyEstatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- End of header -->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle left >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>{{title}}</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title>{{pageSubtitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="savedEstates.length">
        <ion-card-header>
            Saved Estates
        </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let estate of savedEstates">
              <ion-thumbnail item-left>
                  <img [src]="estate.estate.image">
              </ion-thumbnail>
              <h2>Ref No. {{estate.estate.refNumber}}</h2>
              <p text-wrap>{{estate.estate.type}}, {{estate.estate.bedrooms}} Bedrooms</p>
              <p padding-top text-wrap>{{estate.location.name}}, {{estate.estate.region}}</p>
              <a item-right (click)="toEstate(estate)">View</a>
            </ion-item>
        </ion-list>
    
        <div padding>
            <button ion-button (click)="toLocationsPage()">
                <ion-icon padding-right name="search"></ion-icon>
                Find a Location
            </button>
        </div>
    </ion-card>
    <ion-card *ngIf="!savedEstates.length">
        <div padding>
            <ion-label>
                To save more estates, select a location, then you can save estates from their overview page.
            </ion-label>
            <button ion-button (click)="toLocationsPage()">
                <ion-icon padding-right name="search"></ion-icon>
                Find a Location
            </button>
        </div>
    </ion-card>
</ion-content>
